@media (max-width: 1200px) {
    /* Header */
    .header-bottom__phone {
        display: none;
    }

    .header__list {
        flex-wrap: wrap;
        gap: 20px;
    }

    /* About */
    .about__text {
        max-width: 100%;
    }
    
    /* Products */
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 980px) {
    /* Hero */
    .hero__top {
        flex-direction: column;
        align-items: start;
    }

    .hero__title {
        font-size: 30px;
        line-height: 45px;
    }

    .hero__text {
        max-width: 100%;
        font-size: 20px;
    }

    /* Products */
    .products__list {
        grid-template-columns: repeat(2, 1fr);
    }

    /* News */
    .news__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 820px) {
    /* Footer */
    .footer__top {
        flex-direction: column;
        gap: 40px;
    }

    .footer__nav {
        display: none;
        flex-wrap: wrap;
    }

    .footer__nav-mobile {
        display: block;
    }

    /* Map */
    .map-section {
        display: none;
    }
}

@media (max-width: 640px) {
    /* Header */
    .header__top {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .header-top__contact {
        align-items: start;
    }

    /* About */
    .about__images {
        flex-direction: column;
    }

    /* Products */
    .products__list {
        grid-template-columns: 1fr;
    }

    /* News */
    .news__list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 520px) {
    .section__title {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    /* Hero */
    .hero__top {
        gap: 5px;
    }
    
    .hero__title {
        font-size: 26px;
        line-height: 30px;
    }

    .hero__text {
        font-size: 16px;
    }

    /* Products */
    .products__item {
        padding: 330px 20px 20px;
    }

    /* Maps */
    .map-section {
        padding-bottom: 80px;
    }

    /* News */
    .news__text {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .section__title {
        font-size: 30px;
    }

    .section-offset {
        padding-bottom: 60px;
    }

    /* Header */
    .header-top__right {
        flex-direction: column;
    }

    .header__list {
        gap: 15px;
    }

    /* Hero */
    .hero-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .hero__title {
        font-size: 30px;
    }

    /* Footer */
    .footer__list-mobile {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .footer__link {
        font-size: 18px;
    }
}